* {
    box-sizing: border-box;
}
:root {
    --primary-color: #0f1b4c;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
}

/* ======================Common ===========================*/
a {
    text-decoration: none;
}

.content {
    width: 1110px;
    max-width: calc(100% - 48px);
    margin-left: auto;
    margin-right: auto;
}

.btn {
    display: inline-block;
    min-width: 98px;
    padding: 18px 16px;
    background-color: var(--primary-color);
    border-radius: 12px;
    font-size: 1.4rem;
    text-align: center;
    color: #ffffff;
}
.btn:hover {
    opacity: 0.9;
}

.line-clamp {
    display: -webkit-box;
    -webkit-line-clamp: var(--line-clamp, 2);
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* ====================== Header =========================================*/
.fix-header {
    background-color: #e6f0ff;
    padding-top: 26px;
    position: sticky;
    top: -26px;
    z-index: 1;
}

.hero-wrap {
    display: flex;
    position: relative;
    flex-direction: column;
    background-color: #e6f0ff;
    height: 100vh;
}

.navbar {
    display: flex;
    align-items: center;
    padding: 12px 0;
}

.navbar ul {
    display: flex;
    margin-left: 50px;
}

.navbar .action {
    margin-left: auto;
}

.navbar ul a {
    font-weight: 500;
    font-size: 1.4rem;
    color: #4f5361;
    padding: 8px 14px;
}

.navbar ul a:hover {
    text-decoration: underline;
}

.navbar .action-link {
    font-weight: 500;
    font-size: 1.4rem;
    color: var(--primary-color);
}
.navbar .action-btn {
    padding: 13px 16px;
    margin-left: 18px;
    border-radius: 8px;
}

.hero {
    margin-top: 130px;
}

.hero .info {
    width: 51%;
}

.hero .subtitle {
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.018rem;
    color: #687690;
}

.hero .title {
    margin-top: 8px;
    color: #000336;

    font-size: 6.2rem;
    font-style: normal;
    font-weight: 700;
    line-height: 7.6rem;
}

.hero .desc {
    color: #5a6473;

    font-size: 1.8rem;
    font-style: normal;
    font-weight: 400;
    line-height: 3.2rem; /* 177.778% */
    text-transform: capitalize;
}

.hero-cta {
    min-width: 170px;
    margin-top: 40px;
}

.hero-img {
    position: absolute;
    right: calc((100vw - 1110px) / 2 - 100px);
    bottom: 0;
}

/* ====================== Client =========================================*/
.clients {
    margin-top: 79px;
    padding: 43px 0 64px;
    /* background: orange; */
}

.clients .row {
    display: flex;
    justify-content: space-between;
}

.clients .desc {
    color: #7d8589;

    font-size: 1.6rem;
    font-style: normal;
    font-weight: 500;
    line-height: 2rem;
}

.clients .row-desc {
    margin-top: 23px;
}

.clients .images {
    margin-top: 96px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* ====================== Guides =========================================*/

.guides {
    margin-top: 40px;
    padding: 93px 0 79px;
}

.guides .sub-title {
    position: relative;
    color: #000339;

    text-align: center;
    font-size: 3.5rem;
    font-style: normal;
    font-weight: 600;
    line-height: 3.5rem;
}

.guides .sub-title::before {
    position: absolute;
    top: -10px;
    left: 50%;
    transform: translateX(-50%);
    content: "";
    display: inline-block;
    width: 4.1rem;
    height: 0.4rem;
    border-radius: 1.2rem;
    background: #000339;
}

.guides .desc {
    width: 459px;
    max-width: 100%;
    margin: 20px auto 0;
    color: #5a6473;

    text-align: center;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 400;
    line-height: 3rem;
}

.list-guides {
    margin-top: 70px;
    display: flex;
    justify-content: center;
}

.guides-item {
    margin: 0 70px;
    text-align: center;
}

.guides-item .title {
    margin-top: 26px;
    color: #3b3c45;

    font-size: 2rem;
    font-style: normal;
    font-weight: 500;
    line-height: 2.2rem;
}

.guides-item .link {
    display: inline-block;
    margin-top: 10px;
    color: #0689ff;

    font-size: 1.4rem;
    font-style: normal;
    font-weight: 600;
}

.guides-item .arrow {
    margin-left: 6px;
}

.guide-cta {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.guides-cta .btn {
    min-width: 170px;
}

/* ====================== Featured =========================================*/
.featured {
    margin-top: 41px;
    padding: 110px 0;
    background-color: #f5fafe;
}

.featured .sub-title {
    color: #000339;

    font-size: 3.5rem;
    font-style: normal;
    font-weight: 600;
    line-height: 3.5rem;
}

.featured .row {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}

.featured .row .desc {
    color: #5a6473;

    font-size: 1.6rem;
    font-style: normal;
    font-weight: 400;
    line-height: 3rem; /* 187.5% */
    word-break: break-all;
}

.featured .row .link {
    display: flex;
    align-items: center;
    color: #0689ff;

    font-size: 1.8rem;
    font-style: normal;
    font-weight: 600;
}

.featured .link .arrow {
    margin-left: 6px;
}

.featured .list {
    display: flex;
    margin-top: 70px;
    gap: 30px;
}

.featured .item {
    flex: 1;
    background: #fff;
    border-radius: 12px;
}

.featured .item .thumb {
    width: 100%;
    height: 227px;
    object-fit: cover;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}

.featured .item .body {
    padding: 17px 20px 24px;
}

.featured .item .title a {
    color: #000339;
    font-size: 2rem;
    font-style: normal;
    font-weight: 600;
    line-height: 1.5;
}

.featured .item .desc {
    margin-top: 11px;
    color: #a3a6ab;
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    display: -webkit-box;
}

.featured .item .info {
    display: flex;
    align-self: center;
    margin-top: 21px;
}
.featured .item .icon {
    margin-left: 23px;
}

.featured .item .icon:first-child {
    margin-left: 0;
}

.featured .item .label {
    margin-left: 8px;
    color: #444;

    text-align: center;
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 500;
}

/* ====================== Stats =========================================*/
.stats {
    margin-top: 75px;
    padding: 50px 0;
}

.stats .content {
    width: 1048px;
}
.stats .row {
    display: flex;
}

.stats .img-block,
.stats .info {
    width: 50%;
}

.stats .img-block {
    position: relative;
}

.stats .info {
    padding: 79px 0 0 165px;
}

.stat-trend {
    position: absolute;
    top: 0;
    left: 0;
    width: 239px;
    padding: 45px 22px 40px;
    border-radius: 0 0 12px 12px;
    background: #fff;
}

.stat-trend .value {
    color: #000339;

    font-size: 2.6rem;
    font-style: normal;
    font-weight: 700;
    letter-spacing: 0.026rem;
}

.stat-trend .desc {
    margin-top: 8px;
    color: #a7a7a7;

    font-size: 1.2rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.8rem;
}

.stat-trend .separate {
    height: 1.2px;
    background: #e9e9e9;
    margin-top: 25px;
}

.stat-trend .avatar-block {
    display: flex;
    flex-wrap: wrap;
    gap: 14px 16px;
    margin-top: 26px;
}

.stat-trend .avatar-group {
    display: flex;
}

.stat-trend .avatar-group .avatar {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 16px;
    height: 16px;
    margin-left: -3px;
    object-fit: cover;
    border-radius: 50%;
    background-color: var(--bg-color, #fff);
    color: #fff;
    font-size: 0.7261rem;
    font-style: normal;
    font-weight: 450;
    line-height: normal;
    letter-spacing: -0.0145rem;
}

.stat-trend .avatar-group .avatar:first-child {
    margin-left: 0;
}

.stat-trend .icon {
    margin-left: auto;
}

.stats .img-block .image {
    display: block;
    margin-left: auto;
    width: 400px;
    height: 460px;
    border-radius: 12px;
    object-fit: cover;
}

.stats .info .sub-title {
    position: relative;
    width: 269px;
    color: #000339;

    font-size: 3.5rem;
    font-style: normal;
    font-weight: 600;
    line-height: 4.5rem;
}

.stats .info .sub-title::before {
    position: absolute;
    left: 0;
    top: -10px;
    content: "";
    display: block;
    width: 41px;
    height: 4px;
    border-radius: 12px;
    background: #000339;
}

.stats .info .desc {
    width: 309px;
    margin-top: 20px;
    color: #5a6473;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 400;
    line-height: 3rem;
}

.stats .row-qty {
    margin-top: 110px;
    justify-content: space-between;
    padding: 0 32px;
}

.stats .row-qty .qty {
    color: #000;

    font-size: 6.4rem;
    font-style: normal;
    font-weight: 600;
    line-height: 6.4rem;
}

.stats .row-qty .qty-desc {
    margin-top: 24px;
    color: #7b8087;

    font-family: Poppins;
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

/* ====================== Subscription =========================================*/

.subscription {
    margin-top: 90px;
}

.subscription .body {
    display: flex;
    position: relative;
    align-items: center;
    height: 370px;
    background: #063183;
    border-radius: 20px;
}

.subscription .info {
    width: 671px;
    max-width: 100%;
    padding: 0 80px;
}

.subscription .sub-title {
    color: #fff;

    font-size: 3.5rem;
    font-style: normal;
    font-weight: 600;
    line-height: 3.5rem;
}

.subscription .desc {
    margin-top: 15px;
    color: #fff;

    font-family: Poppins;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 400;
    line-height: 3rem;
}

.subscription .btn {
    margin-top: 20px;
    min-width: 151px;
    background: #fff;
    color: #002366;
}

.subscription .image {
    position: absolute;
    bottom: 0;
    right: 221px;
}

/* ====================== Footer =========================================*/
.footer {
    margin-top: 55px;
    padding: 50px 0 58px;
}

.footer .row {
    display: flex;
}

.footer .row-top {
    gap: 185px;
}

.footer .heading {
    color: #1c1c1d;

    font-family: "Lato", sans-serif;
    font-size: 2rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.footer .list,
.footer .desc {
    margin-top: 42px;
}

.footer .item {
    margin-top: 18px;
}

.footer .item a,
.footer .desc {
    color: #7a7a7e;

    font-family: Poppins;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    white-space: nowrap;
}

.footer .desc {
    white-space: normal;
    line-height: 1.75;
}

.footer .social {
    display: flex;
    margin-top: 40px;
}

.footer .social-link {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    width: 28px;
    height: 28px;
    background: #f9f9f9;
}

.footer .social-link + .social-link {
    margin-left: 16px;
}

.footer .social-link:hover {
    background: #ebebeb;
    border-radius: 6px;
}

.footer .row-bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 81px;
}

.footer .copyright {
    color: #c2c2c2;

    font-family: Poppins;
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
